<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>{% block title %}ZawGyi Web Developers Site{% endblock %}</title>
</head>

<body>
    <div id="header">
        <div id="header_left">
            <a href="/">Home</a>
        </div>
        <div id="header_right">
            {{base_welcome}} {{signInOut}}
        </div>
    </div>    
    <div id="gc-topnav">
        <h1>
            
        </h1>
        <ul class="style1">
            &nbsp;
        </ul>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}<a href="http://zawgyi.googlecode.com">ZawGyi Web Developers</a>{% endblock %}
    </div>
</body>
</html>

