body
{
    font-family: Zawgyi-One, Zawgyi1, Zawgyi-1, Tahoma, Microsoft Sans Serif, Verdana, Arial;
}


#header_left {
	float: left;
	width: 80%;
}
#header_right {
	float: left;
	width:20%;
	text-align: right;
}

#container {
	position: relative;
	width: 100%;
}

#left_col {
	float: left;
	width:33%;
}

#page_content {
	float: left;
	width:33%;
}

#right_col {
	float: left;
	width:34%;
}

#footer {
	clear: both;
	text-align: center
}


#gc-topnav
{
	clear: both;
	 font-size: 1em;
	 margin: 0;
	 padding: .1em 0;
	 width: 100%;
	 white-space: nowrap;
	 word-wrap: normal;
	 background-color: #e5ecf9;
	 border-top: 1px solid #36C;
}
#gc-topnav .style1
{
	 line-height: 1em;
	 text-align: right;
	 list-style-type: none;
	 margin: 0;
	 padding: .47em 0;
}
li
{
	 padding: 0 0 0 50px;
	 margin: 0 0 30px 0;
	 list-style: none;
}
.topmargin
{
	 margin-top: 1em !important;
}
.nomargin
{
	 margin: 0 !important;
}
.nopadding
{
	 padding: 0 !important;
}
.noborder
{
	 border: none !important;
}
.border
{
	 border: 1px solid gray;
	 padding: 1px;
}
.normalsize
{
	 font-size: 100% !important;
}
.nolist li
{
	 margin-left: 0;
	 list-style: none;
}
.noindent
{
	 margin-left: 0;
}
.doublespace, .doublespace li
{
	 margin-top: 1em;
}
ul.doublespace, ol.doublespace
{
	 margin-top: 0;
	 padding-top: 0;
}
.terms
{
	 margin: 1em 0 0 0;
	 padding: .5em;
	 background-color: #efefef;
}
.terms form
{
	 margin: 0;
	 padding: 0;
}
.terms table, .terms td
{
	 border: none;
	 background-color: transparent;
}
div.row
{
	 float: left;
	 clear: left;
	 position: relative;
	 margin: 1em 0 0;
	 padding: 0;
}
.left
{
	 float: left;
	 margin: 0 1em 0 0;
	 padding: 0;
}
div.special
{
	 border: 1px solid;
	 padding: 0 .9em .9em;
	 margin: 1em 0 0 0;
	 background-color: #e5ecf9;
	 border-color: #36C;
}
p.note, p.caution, p.warning
{
	 margin: 1em 0 0 0;
	 padding: .2em .5em .2em .9em;
	 background-color: #efefef;
	 border-top: 1px solid;
	 border-bottom: 1px solid;
}
p.note
{
	 border-color: #36C;
}
p.caution
{
	 border-color: #fc3;
}
p.warning
{
	 border-color: #a03;
}
p.warning b, p.warning em, p.warning strong
{
	 color: #a03;
	 font-weight: bold;
}
p.caption
{
	 padding: 1px 0 0;
	 margin: 0;
}
div.linkbox
{
	 margin: 1em 25px 1em 0;
	 padding: .5em 0;
}
div.linkbox a
{
	 font-size: 100%;
	 font-weight: bold;
	 border: 1px solid;
	 margin: 0;
	 padding: .5em;
	 background-color: #e5ecf9;
	 border-color: #36C;
}
.promo
{
	 margin: 1em 1em 0 0;
	 padding: 0 1em 1em;
	 border: 1px solid #36C;
}
.new
{
	 font-size: 78%;
	 font-weight: bold;
	 color: red;
	 text-decoration: none;
}
.subscribe
{
	 float: right;
}
.subscribe a, .subscribe a:visited
{
	 text-decoration: none;
	 color: #bb4900;
}
.subscribe a .linktext
{
	 text-decoration: underline;
}
.subscribe img
{
	 width: 15px;
	 height: 15px;
	 vertical-align: middle;
	 padding-bottom: 2px;
}
p#date, p.date
{
	 text-align: left;
	 margin: 0;
	 padding: 1em;
	 font-style: italic;
	 font-size: x-small;
}
p.backtotop
{
	 float: right;
	 margin: .5em 0 0 4em;
	 position: relative;
	 padding: 0;
	 font-size: x-small;
	 z-index: 99;
}
div.sidebox
{
	 width: 22em;
	 margin: 1em 0 0 20px;
	 padding: 0 0 1em 1em;
	 border-left: 1px dotted silver;
	 float: right;
	 clear: right;
	 position: relative;
	 background-color: #fff;
	 position: relative;
	 z-index: 100;
}
div.sidebox h2
{
	 font-size: 110%;
	 font-weight: bold;
	 margin: 0 5px 0 -5px;
	 padding: .1em 3px .1em 5px;
	 background-color: #e5ecf9;
	 border-color: #36C;
}
.hidden, .hidden *, #skipto, #skipto *, #skipto a, #skipto a:hover, #skipto a:visited
{
	 position: relative;
	 top: -9999px;
	 left: -9999px;
	 height: 0;
	 width: 0;
	 overflow: hidden;
	 z-index: 4444;
}
#skipto, #skipto *, #skipto a, #skipto a:hover, #skipto a:visited
{
	 _position: relative;
}
#skipto a:focus
{
	 position: fixed;
	 top: 5px;
	 left: 5px;
	 height: auto;
	 width: auto;
	 background-color: #fff;
	 border: 2px solid #00C;
	 font-weight: bold;
	 padding: 5px;
}
#gc-container
{
	 margin: 0 auto;
	 padding: 0;
	 max-width: 1160px;
	 position: relative;
	 min-height: 100%;
	 height: auto !important;
	 _height: 100%;
}
#gc-pagecontent, #gc-home
{
	 position: relative;
}
#gc-pagecontent
{
	 padding-left: 24px;
	 border-left: 3px solid #e5ecf9;
}
div#gaia
{
	 width: 100%;
	 margin: 0;
	 padding: 3px 0 0 0;
	 position: absolute;
	 top: 0;
	 left: 0;
	 text-align: right;
}
#langpref
{
	 float: right;
	 font-size: 90%;
	 margin-top: 5px;
	 position: relative;
	 z-index: 1;
}
#langwarn
{
	 text-align: right;
	 font-size: 80%;
	 margin-bottom: -20px;
	 color: #666;
}
.moreright
{
	 margin: 2px 0 2px 0;
	 text-align: right;
}
#gc-header
{
	 padding: 7px 0 0 0;
	 margin: 0 0 24px 0;
	 top: 0;
}
#gc-header #logo
{
	 float: left;
	 width: 155px;
	 padding: 0;
	 margin: 0;
	 position: absolute;
	 left: 0;
	 top: 9px;
}
#gc-header a img
{
	 border: none;
	 padding: 0;
	 margin: 0;
}
#gc-header #gc-logo-img
{
	 background-image: url(/images/sprites.gif);
	 background-position: -28px -136px;
	 width: 153px;
	 height: 55px;
	 cursor: pointer;
}